  <footer id="footer">
    <div class="container">
    <p class="text-center">Powered by <a href="https://github.com/SuperID/EasyDeploy" target="_blank">EasyDeploy</a></p>
    </div>
  </footer>
</html>
