{% include "inc/head" %}

<style>
#deploy-box {
  display: none;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #000;
  position: fixed;
}
#deploy-box-bg {
  position: fixed;
}
#deploy-box-img {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -250px;
}
#deploy-box-desc {
  position: fixed;
  bottom: 0;
  background-color: #DDD;
  color: #FF004D;
  font-size: 40px;
  text-align: center;
  width: 100%;
}
</style>

<body>
  {% include "inc/nav" %}
  <div class="container">
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">源码</div>
        
      </div>
    </div>
  </div>
</body>

{% include "inc/foot" %}
