.ajax-loader {
  height: 100px;
  width: 100px;
  text-align: center;
  position: fixed;
  left: 50%;
  margin-left: -50px;
  top: 60px;
  z-index: 1001;
  display: none;
}
.ajax-loader img {
  border: 0;
  max-width: 100%;
}

body {
  margin-bottom: 50px;
  font-family: 'Open Sans', Arial, 'Hiragino Sans GB',Menlo, Monaco, Consolas, 'Courier New', monospace 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
}
.navbar-nav {
  font-size: 16px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
.text-muted {
  color: #999;
}
